@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/average/Average-240327-059-Regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/average/Average-240327-059-Bold.woff') format('woff'); 
}
