/**
 * ------------------------------------------------ 
 * Links
 * ------------------------------------------------ */

a {
    color: inherit;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}


.link {
	font-weight: bold;
}

a:hover,
.link:hover {
	color: var(--col-text-hover);
}


