/**
 * ---------------------------------
 * Links
 * --------------------------------- */

a {
    color: inherit;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

a:hover { color: var(--col-text-hover); }


