/**
 * ---------------------------------
 * Typography
 * --------------------------------- */

* {
	-webkit-hyphens: none;
	-moz-hyphens: none !important;
	hyphens: none;
}

h1 { @include font-size(72); }

h2 {
    @include font-size(18);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: calc(var(--base) / 9);
}

h3 {
	@include font-size(14);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 0.5em;
	color: var(--col-text-light);
}

p {
    @include font-size(18);
	padding-bottom: 9px;
}


@media screen and ( max-width: 37.49em ) {
	
	h1 {
		@include font-size(36);
		margin: 0.5em 0;
	}
}

