/* 
 * Fonts from Spilling Type
 * ---------------------------------------- */

@font-face {
  font-family: 'BloodyPandora';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/BloodyPandora/BloodyPandoraRegular.woff') format('woff'); 
}

@font-face {
  font-family: 'BloodyPandora';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/BloodyPandora/BloodyPandoraBold.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/apium/Apium-Regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/apium/Apium-Bold.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/apium/Apium-RegularItalic.woff') format('woff'); 
}

@font-face {
  font-family: 'Apium';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/apium/Apium-BoldItalic.woff') format('woff'); 
}
