/* 
 * OpenType
 * https://helpx.adobe.com/uk/fonts/using/open-type-syntax.html
 * -------------------------------------------------------------- */

.liga {
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga", "clig";
    -webkit-font-feature-settings: "liga", "clig";
    font-feature-settings: "liga", "clig";
}

.smcp {
    font-variant-caps: small-caps;
    -moz-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
}

.lnum {
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

.onum {
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: "onum";
    -webkit-font-feature-settings: "onum";
    font-feature-settings: "onum";
}

.pnum {
    font-variant-numeric: proportional-nums;
    -moz-font-feature-settings: "pnum";
    -webkit-font-feature-settings: "pnum";
    font-feature-settings: "pnum";
}

.tnum {
    font-variant-numeric: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
}

.frac {
    font-variant-numeric: diagonal-fractions;
    -moz-font-feature-settings: "frac";
    -webkit-font-feature-settings: "frac";
    font-feature-settings: "frac";
}

.ordn {
    font-variant-numeric: ordinal;
    -moz-font-feature-settings: "ordn";
    -webkit-font-feature-settings: "ordn";
    font-feature-settings: "ordn";
}

.onum.tnum {
    font-variant-numeric: oldstyle-nums tabular-nums;
    -moz-font-feature-settings: "onum", "tnum";
    -webkit-font-feature-settings: "onum", "tnum";
    font-feature-settings: "onum", "tnum";
}



/* Stylistic sets
 * ---------------------------------------- */
.ss01 { -moz-font-feature-settings: "ss01"; -webkit-font-feature-settings: "ss01"; font-feature-settings: "ss01"; }
.ss02 { -moz-font-feature-settings: "ss02"; -webkit-font-feature-settings: "ss02"; font-feature-settings: "ss02"; }
.ss03 { -moz-font-feature-settings: "ss03"; -webkit-font-feature-settings: "ss03"; font-feature-settings: "ss03"; }
.ss04 { -moz-font-feature-settings: "ss04"; -webkit-font-feature-settings: "ss04"; font-feature-settings: "ss04"; }
.ss05 { -moz-font-feature-settings: "ss05"; -webkit-font-feature-settings: "ss05"; font-feature-settings: "ss05"; }
.ss06 { -moz-font-feature-settings: "ss06"; -webkit-font-feature-settings: "ss06"; font-feature-settings: "ss06"; }
.ss07 { -moz-font-feature-settings: "ss07"; -webkit-font-feature-settings: "ss07"; font-feature-settings: "ss07"; }
.ss08 { -moz-font-feature-settings: "ss08"; -webkit-font-feature-settings: "ss08"; font-feature-settings: "ss08"; }
.ss09 { -moz-font-feature-settings: "ss09"; -webkit-font-feature-settings: "ss09"; font-feature-settings: "ss09"; }
.ss10 { -moz-font-feature-settings: "ss10"; -webkit-font-feature-settings: "ss10"; font-feature-settings: "ss10"; }
.ss11 { -moz-font-feature-settings: "ss11"; -webkit-font-feature-settings: "ss11"; font-feature-settings: "ss11"; }
.ss12 { -moz-font-feature-settings: "ss12"; -webkit-font-feature-settings: "ss12"; font-feature-settings: "ss12"; }
.ss13 { -moz-font-feature-settings: "ss13"; -webkit-font-feature-settings: "ss13"; font-feature-settings: "ss13"; }
.ss14 { -moz-font-feature-settings: "ss14"; -webkit-font-feature-settings: "ss14"; font-feature-settings: "ss14"; }
.ss15 { -moz-font-feature-settings: "ss15"; -webkit-font-feature-settings: "ss15"; font-feature-settings: "ss15"; }
.ss16 { -moz-font-feature-settings: "ss16"; -webkit-font-feature-settings: "ss16"; font-feature-settings: "ss16"; }
.ss17 { -moz-font-feature-settings: "ss17"; -webkit-font-feature-settings: "ss17"; font-feature-settings: "ss17"; }
.ss18 { -moz-font-feature-settings: "ss18"; -webkit-font-feature-settings: "ss18"; font-feature-settings: "ss18"; }
.ss19 { -moz-font-feature-settings: "ss19"; -webkit-font-feature-settings: "ss19"; font-feature-settings: "ss19"; }
.ss20 { -moz-font-feature-settings: "ss20"; -webkit-font-feature-settings: "ss20"; font-feature-settings: "ss20"; }

