/*
 * Glyph viewer
 *
 * Author: Joke De Winter
 * Author URI: https://www.jokedewinter.co.uk
 * Version: 2.0
 * Year: 2024, 2026
 */

@import "_fonts.css"; 
@import "_scrolling.css"; 
@import "_opentype.css"; 



#glyph_box .glyph,
#glyph_list article a {
    font-family: 'Apium';
}


/* 
 * module: glyph_viewer
 * ---------------------------------------- */

@media screen and (min-width: 37.5em) {
    .module__glyph_viewer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 64em) {
    .module__glyph_viewer {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-column-gap: calc(var(--base) / 2);
        padding: calc(var(--base) / 2) 0;
    }
}


/* 
 * glyph_box
 * ---------------------------------------- */

#glyph_box {
    position: relative;
    aspect-ratio: 1/1;
    margin-bottom: calc(var(--base) / 2);
    border: 1px solid var(--col-border);
}

.glyph {
    display: flex;
    justify-content: center;
    font-size: 360px;
    font-size: 36rem;
    line-height: 1;
}

.glyph span {
    position: absolute;
    height: 100%;
    /* 
     * Placing the top of the glyph at -21px puts it on the baseline
     * No idea why it is -21, but fiddling with web inspector suggested 21 */
    top: -21px;
    z-index: 100;
}

.metric_line {
    position: absolute;
    border: 1px dotted var(--col-border);
    width: 100%;
    z-index: 10;
}

@media screen and (max-width: 37.5em) { .glyph_view { display: none; } }


/* 
 * glyph_info
 * ---------------------------------------- */

.module__glyph_viewer dl {
    display: grid;
    grid-template-columns: max-content;
    grid-column-gap: 1em;
    margin-bottom: 1em;
}

.module__glyph_viewer dt { font-weight: bold; }

.module__glyph_viewer dd {
    margin: 0;
    grid-column-start: 2;
}



/* 
 * font selection
 * ---------------------------------------- */

.module__glyph_viewer select {
	font-size: 18px;
	font-size: 1.8rem;
    background: transparent;
	background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 1px;
    border: 1px solid var(--col-border);
    border-radius: none;
    color: var(--col-text);
    margin-left: 3em;
    padding: 0.1em 2em 0.1em 0.5em;
}



/* 
 * glyph_list
 * With a fallback for viewing glyphs on small viewports
 * It's simple, but it is better than nothing.
 * ------------------------------------------------------ */

#glyph_list a {
    display: inline-block;
    width: 2em;
    margin: 0.13755em;
    padding: 0 0.3175em;
    line-height: 2.1;
    text-align: center;
    border: 1px solid var(--col-border);
    cursor: pointer;
}

@media screen and (max-width: 37.49em) {
    #glyph_list a:target {
        width: calc(100% - 0.3175em);
        font-size: 150px;
        font-size: 15rem;
        text-align: center;
        line-height: 1.5;
        cursor: pointer;
    }
    
    #glyph_list a:target {
        background-color: var(--col-text);
        color: var(--col-text-reverse);
    }
}

