/*
 * Glyph viewer
 *
 * Author: Joke De Winter
 * Author URI: https://www.jokedewinter.co.uk
 * Version: 2.0
 * Year: 2024, 2026
 */


#glyph_box .glyph,
#glyph_list article a {
    font-family: 'Apium';
}


/* 
 * module: glyph_viewer
 * ---------------------------------------- */

@media screen and (min-width: 37.5em) {
    .module__glyph_viewer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 64em) {
    .module__glyph_viewer {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-column-gap: calc(var(--base) / 2);
        padding: calc(var(--base) / 2) 0;
    }
}


/* 
 * glyph_box
 * ---------------------------------------- */

#glyph_box {
    position: relative;
    aspect-ratio: 1/1;
    margin-bottom: calc(var(--base) / 2);
    border: 1px solid var(--col-border);
}

.glyph {
    display: flex;
    justify-content: center;
    font-size: 360px;
    font-size: 36rem;
    line-height: 1;
}

.glyph span {
    position: absolute;
    height: 100%;
    /* 
     * Placing the top of the glyph at -21px puts it on the baseline
     * No idea why it is -21, but fiddling with web inspector suggested 21 */
    top: -21px;
    z-index: 100;
}

.metric_line {
    position: absolute;
    border: 1px dotted var(--col-border);
    width: 100%;
    z-index: 10;
}

@media screen and (max-width: 37.5em) { .glyph_view { display: none; } }


/* 
 * glyph_info
 * ---------------------------------------- */

.module__glyph_viewer dl {
    display: grid;
    grid-template-columns: max-content;
    grid-column-gap: 1em;
    margin-bottom: 1em;
}

.module__glyph_viewer dt { font-weight: bold; }

.module__glyph_viewer dd {
    margin: 0;
    grid-column-start: 2;
}



/* 
 * font selection
 * ---------------------------------------- */

.module__glyph_viewer select {
	font-size: 18px;
	font-size: 1.8rem;
    background: transparent;
	background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 1px;
    border: 1px solid var(--col-border);
    border-radius: none;
    color: var(--col-text);
    margin-left: 3em;
    padding: 0.1em 2em 0.1em 0.5em;
}



/* 
 * glyph_list
 * With a fallback for viewing glyphs on small viewports
 * It's simple, but it is better than nothing.
 * ------------------------------------------------------ */

#glyph_list a {
    display: inline-block;
    width: 2em;
    margin: 0.13755em;
    padding: 0 0.3175em;
    line-height: 2.1;
    text-align: center;
    border: 1px solid var(--col-border);
    cursor: pointer;
}

@media screen and (max-width: 37.49em) {
    #glyph_list a:target {
        width: calc(100% - 0.3175em);
        font-size: 150px;
        font-size: 15rem;
        text-align: center;
        line-height: 1.5;
        cursor: pointer;
    }
    
    #glyph_list a:target {
        background-color: var(--col-text);
        color: var(--col-text-reverse);
    }
}



/* 
 * Scrolling
 * ---------------------------------------- */

.vscrolling {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    height: 75vh;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
}

.vscrolling::-webkit-scrollbar { width: 5px; height: 5px; }
.vscrolling::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px var(--col-border) !important;  background: var(--col-border); }
.vscrolling::-webkit-scrollbar-thumb { background: var(--col-text); }
.vscrolling::-webkit-scrollbar-thumb:hover { background: var(--col-text-light); }
.vscrolling::-webkit-scrollbar:horizontal { display: none; }




/* 
 * OpenType
 * https://helpx.adobe.com/uk/fonts/using/open-type-syntax.html
 * -------------------------------------------------------------- */

.liga {
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga", "clig";
    -webkit-font-feature-settings: "liga", "clig";
    font-feature-settings: "liga", "clig";
}

.smcp {
    font-variant-caps: small-caps;
    -moz-font-feature-settings: "smcp";
    -webkit-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
}

.lnum {
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

.onum {
    font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: "onum";
    -webkit-font-feature-settings: "onum";
    font-feature-settings: "onum";
}

.pnum {
    font-variant-numeric: proportional-nums;
    -moz-font-feature-settings: "pnum";
    -webkit-font-feature-settings: "pnum";
    font-feature-settings: "pnum";
}

.tnum {
    font-variant-numeric: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
}

.frac {
    font-variant-numeric: diagonal-fractions;
    -moz-font-feature-settings: "frac";
    -webkit-font-feature-settings: "frac";
    font-feature-settings: "frac";
}

.ordn {
    font-variant-numeric: ordinal;
    -moz-font-feature-settings: "ordn";
    -webkit-font-feature-settings: "ordn";
    font-feature-settings: "ordn";
}

.onum.tnum {
    font-variant-numeric: oldstyle-nums tabular-nums;
    -moz-font-feature-settings: "onum", "tnum";
    -webkit-font-feature-settings: "onum", "tnum";
    font-feature-settings: "onum", "tnum";
}



/* Stylistic sets
 * ---------------------------------------- */
.ss01 { -moz-font-feature-settings: "ss01"; -webkit-font-feature-settings: "ss01"; font-feature-settings: "ss01"; }
.ss02 { -moz-font-feature-settings: "ss02"; -webkit-font-feature-settings: "ss02"; font-feature-settings: "ss02"; }
.ss03 { -moz-font-feature-settings: "ss03"; -webkit-font-feature-settings: "ss03"; font-feature-settings: "ss03"; }
.ss04 { -moz-font-feature-settings: "ss04"; -webkit-font-feature-settings: "ss04"; font-feature-settings: "ss04"; }
.ss05 { -moz-font-feature-settings: "ss05"; -webkit-font-feature-settings: "ss05"; font-feature-settings: "ss05"; }
.ss06 { -moz-font-feature-settings: "ss06"; -webkit-font-feature-settings: "ss06"; font-feature-settings: "ss06"; }
.ss07 { -moz-font-feature-settings: "ss07"; -webkit-font-feature-settings: "ss07"; font-feature-settings: "ss07"; }
.ss08 { -moz-font-feature-settings: "ss08"; -webkit-font-feature-settings: "ss08"; font-feature-settings: "ss08"; }
.ss09 { -moz-font-feature-settings: "ss09"; -webkit-font-feature-settings: "ss09"; font-feature-settings: "ss09"; }
.ss10 { -moz-font-feature-settings: "ss10"; -webkit-font-feature-settings: "ss10"; font-feature-settings: "ss10"; }
.ss11 { -moz-font-feature-settings: "ss11"; -webkit-font-feature-settings: "ss11"; font-feature-settings: "ss11"; }
.ss12 { -moz-font-feature-settings: "ss12"; -webkit-font-feature-settings: "ss12"; font-feature-settings: "ss12"; }
.ss13 { -moz-font-feature-settings: "ss13"; -webkit-font-feature-settings: "ss13"; font-feature-settings: "ss13"; }
.ss14 { -moz-font-feature-settings: "ss14"; -webkit-font-feature-settings: "ss14"; font-feature-settings: "ss14"; }
.ss15 { -moz-font-feature-settings: "ss15"; -webkit-font-feature-settings: "ss15"; font-feature-settings: "ss15"; }
.ss16 { -moz-font-feature-settings: "ss16"; -webkit-font-feature-settings: "ss16"; font-feature-settings: "ss16"; }
.ss17 { -moz-font-feature-settings: "ss17"; -webkit-font-feature-settings: "ss17"; font-feature-settings: "ss17"; }
.ss18 { -moz-font-feature-settings: "ss18"; -webkit-font-feature-settings: "ss18"; font-feature-settings: "ss18"; }
.ss19 { -moz-font-feature-settings: "ss19"; -webkit-font-feature-settings: "ss19"; font-feature-settings: "ss19"; }
.ss20 { -moz-font-feature-settings: "ss20"; -webkit-font-feature-settings: "ss20"; font-feature-settings: "ss20"; }


