/*
 * Typefoundry Code
 *
 * Author: Joke De Winter
 * Author URI: https://www.jokedewinter.co.uk
 * Version: 1.0
 * Year: 2026
 */


@font-face {
  font-family: 'BloodyPandora';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/BloodyPandora/BloodyPandora-003-Regular.woff') format('woff'); 
}

@font-face {
  font-family: 'BloodyPandora';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/BloodyPandora/BloodyPandora-003-Bold.woff') format('woff'); 
}

@import "base/_root.css"; 
@import "base/_global.css"; 
@import "component/_typography.css"; 
@import "component/_links.css"; 

