@font-face {
  font-family: 'BloodyPandora';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/BloodyPandora/BloodyPandoraRegular.woff') format('woff'); 
}

@font-face {
  font-family: 'BloodyPandora';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/BloodyPandora/BloodyPandoraBlack.woff') format('woff'); 
}
