
// ----------------------------------------------------------
// Rem output with px fallback
// Going with plain pixel values for the $size setting
// ----------------------------------------------------------

@mixin font-size($size: 16) {
	font-size: $size * 1px;
	font-size: ($size / 10) * 1rem;
}

// ----------------------------------------------------------
// General 
// ----------------------------------------------------------

@mixin no-bullets() {
	padding: 0;
	li { list-style: none; }
	a { border-bottom: none; }
}


// ----------------------------------------------------------
// Putting little vertical stripes between list items
// ----------------------------------------------------------

@mixin list-with-stripes() {

    display: inline-block;

	:after {
		content: "|";
		float: right;
		padding: 0 0.5em;
		color: var(--col-text-light);
	}

	&:last-of-type :after { content: ""; }
}


// ----------------------------------------------------------
// Fancy CSS things
// ----------------------------------------------------------

@mixin transition ($property, $duration, $timing) {
	-webkit-transition-property: $property;  
	-moz-transition-property: $property;
	-ms-transition-property: $property; 
	-o-transition-property: $property;  
	transition-property: $property;  

	-webkit-transition-duration: 	$duration;  
	-moz-transition-duration: $duration;
	-ms-transition-duration: $duration; 
	-o-transition-duration: $duration;  
	transition-duration: $duration;  

	-webkit-transition-timing-function: $timing;  
	-moz-transition-timing-function: $timing;
	-ms-transition-timing-function: $timing; 
	-o-transition-timing-function: $timing;  
	transition-timing-function: $timing;  
}
