/* 
 * ---------------------------------
 * Custom properties
 * --------------------------------- */

:root {
    --base: 5.5em;

	--font: 'BloodyPandora', sans-serif;

    --col-text: rgb(66, 67, 69); //#424345;			
	--col-text-reverse: #fbfbf9;
    --col-text-light: #A3A299;
	--col-text-hover: #c8552b;
	
	--col-page: #fbfbf9;
	--col-border: #e7e6df;
}


