/* 
 * Typography
 * --------------------------------- */

h1 { font-size: 7.2rem; }

h2 {
    font-size: 1.8rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: calc(var(--base) / 9);
}

h3 {
    font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 0.5em;
	color: var(--col-text-light);
}

p {
    font-size: 1.8rem;
	padding-bottom: 9px;
}


@media screen and ( max-width: 37.49em ) {
	
	h1 {
        font-size: 3.6rem;
		margin: 0.5em 0;
	}
}

