/**
 * -------------------------------------------------------------
 * Background 
 * ------------------------------------------------------------- */

.bg,
.bg-hover {
	position: relative;
}

.bg > *,
.bg-hover > * {
	position: relative;
	z-index: 99;
}

.bg::after,
.bg-hover:hover::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	width: 100vw;
	height: 100%;
	margin: 0 -50vw;
	z-index: 10;
}

.bg::after { background-color: var(--col-page-features); }
.site__masthead.bg::after { background-color: var(--col-letter); }
.font__menu.bg::after { background-color: var(--col-page); }


/* Hover backgrounds
 * Teaser, Fonts, Extract
 * Typeface colours are set in the _teaser/typeface scss files
 * ------------------------------------------------------------- */

.extract.bg-hover:hover {
	 background-color: var(--col-letter);
}
.typeface.bg-hover:hover a {
	display: block;
}

.teaser.bg-hover:hover,
.typeface.bg-hover:hover { color: var(--col-text-hover); }

.teaser.bg-hover:hover::after,
.typeface.bg-hover:hover::after { background-color: var(--col-hover); }

