/**
 * -------------------------------------------------------------
 * Glyphs
 * ------------------------------------------------------------- */


@media screen and ( max-width: 37.49em ) { 

	.glyph_box {
		display: none;
	}
	
	.module__glyphs {
	
	}
	
	.glyphs a:active
	.glyphs a:focus,
	.glyphs a:target {
		width: calc(100% - 0.3175em);
		/*margin-right: 0.3175em;*/
		@include font-size(150);
		text-align: center;
		line-height: 1.5;
	}

	.glyphs a:focus {
		background-color: blue;
		color: yellow;
	}

	.glyphs a:focus {
		background-color: peru;
		color: blue;
	}

	.glyphs a:focus {
		background-color: black;
		color: white;
	}
}

.glyphs header {
	margin-bottom: 0.3175em;
}

.glyphs a {
    border: 1px solid var(--col-border);
    padding: 0 0.3175em;
    margin: 0.13755em;
    line-height: 2.1;
    width: 2em;
    display: inline-block;
    text-align: center;
	cursor: pointer;
}

body {
	cursor: pointer;
}

.glyph_box {
	padding: 0 var(--base);
}


#glyph {
	@include font-size(360);
	text-align: center;
}

.scrolling {
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	overflow-y: auto;
	height: 25em;
	padding-bottom: 0.5em;
	margin-bottom: 2em;
}



@media screen and ( min-width: 37.50em ) { 

	.module__glyphs {
	    display: grid;
	    grid-template-columns: 500px 2fr;
	    padding: calc(var(--base) / 2) 0;
	}

	.glyphs header {
		display: flex;
		justify-content: space-between;
	}
	
	.scrolling {
		height: 30em;
	}
}


/* Select box 
 * ------------------------------------------------------------- */


select {
    @include font-size(18);
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='232E38' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid var(--col-border);
    border-radius: 3px;
    padding: 0.5em 2em 0.5em 0.5em;
}


/* Vertical scrollbar 
 * ------------------------------------------------------------- */
	         
.scrolling::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
	      
.scrolling::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 6px var(--col-border) !important; 
    background: var(--col-border); 
} // The track
	
.scrolling::-webkit-scrollbar-thumb { background: var(--col-text); } // The handle
.scrolling::-webkit-scrollbar-thumb:hover { background: var(--col-text-light); } // The handle on hover
.scrolling::-webkit-scrollbar:horizontal { display: none; }
